
    /* display: grid */

  .container {  display: grid;
    grid-template-columns: 0.37fr 1.5fr 1fr;
    grid-template-rows: 0.12fr 0.12fr 0.12fr 0.1fr 0.12fr 0.12fr 0.12fr 0.12fr 0.12fr 0.12fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "sidebar profile-photo profile-photo"
      "sidebar profile-photo-icon-subscribe profile-photo-icon-subscribe"
      "sidebar home-options home-options"
      "sidebar uplaoud-play-all uplaoud-play-all"
      "sidebar videos-sections-1 videos-sections-1"
      "sidebar videos-sections-1 videos-sections-1"
      "sidebar upload-play-all-2 upload-play-all-2"
      "sidebar videos-sections-2 videos-sections-2"
      "sidebar videos-sections-2 videos-sections-2";
  }
  
  .header { grid-area: header; }
  
  .profile-photo { grid-area: profile-photo; }
  
  .profile-photo-icon-subscribe { grid-area: profile-photo-icon-subscribe; }
  
  .home-options { grid-area: home-options; }
  
  .uplaoud-play-all { grid-area: uplaoud-play-all; }
  
  .upload-play-all-2 { grid-area: upload-play-all-2; }
  
  .videos-sections-1 { grid-area: videos-sections-1; }
  
  .videos-sections-2 { grid-area: videos-sections-2; }
  
  .sidebar { grid-area: sidebar; }
  

  div a
{ 
    text-decoration: none;
    color: var(--grey-uppercase-text-color);
    font-size: 14px;
    font-weight: bolder }