


.container {  display: grid;
    grid-template-columns: 0.38fr 1.5fr 1fr;
    grid-template-rows: 0.1fr 0.12fr 0.18fr 0.1fr 0.1fr 0.1fr 0.1fr 0.12fr 0.1fr 0.25fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "sidebar-part-1 profile-photo profile-photo"
      "sidebar-part-1 profile-photo-icon-subscribe profile-photo-icon-subscribe"
      "sidebar-part-2 home-options home-options"
      "sidebar-part-2 uplaoud-play-all uplaoud-play-all"
      "sidebar-part-3 videos-sections-1 videos-sections-1"
      "sidebar-part-3 videos-sections-1 videos-sections-1"
      "sidebar-part-3 upload-play-all-2 upload-play-all-2"
      "sidebar-part-4 videos-sections-2 videos-sections-2"
      "sidebar-part-4 videos-sections-2 videos-sections-2";
  }
  
  .header { grid-area: header; }
  
  .profile-photo { grid-area: profile-photo; }
  
  .profile-photo-icon-subscribe { grid-area: profile-photo-icon-subscribe; }
  
  .home-options { grid-area: home-options; }
  
  .uplaoud-play-all { grid-area: uplaoud-play-all; }

  .videos-sections-1 { grid-area: videos-sections-1; }
  
  .upload-play-all-2 { grid-area: upload-play-all-2; }

  .videos-sections-2 { grid-area: videos-sections-2; }
  
  .sidebar-part-1 { grid-area: sidebar-part-1; }
  
  .sidebar-part-2 { grid-area: sidebar-part-2; }
  
  .sidebar-part-3 { grid-area: sidebar-part-3; }
  
  .sidebar-part-4 { grid-area: sidebar-part-4; }



  div a
{ 
    text-decoration: none;
    color: var(--grey-uppercase-text-color);
    font-size: 18px;
    font-weight: bolder}