

.profile-photo-icon-subscribe { grid-area: profile-photo-icon-subscribe; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;}

    .channel-icon-and-name{
        display: flex;
        justify-items: center;
        align-items: center;
        width: 15vw;
    }

    .submit-join-sub {
        display: flex;
        justify-items: center;
        align-items: center;
        width: 15vw;
    }

    .channel-icon {
        margin-right: 0.75rem;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #aaa;
      }
      