/* sidebar  */

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    
}

.sidebar-part-1 { grid-area: sidebar-part-1; 
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    height: 12vh;
    
}
  
  .sidebar-part-2 { grid-area: sidebar-part-2; 
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    height: 12vh;
}
  



  .sidebar-part-3 { grid-area: sidebar-part-3; }
  
  .sidebar-part-4 { grid-area: sidebar-part-4; }





p{
    color: var(--grey-text-color);
    font-size: 15px;
    font-weight: bold;
}