@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Luxurious+Roman&family=Roboto:wght@100;300&display=swap");
@import url(./var.css);
@import url(./header.css);
@import url(./home-options.css);
@import url(./main.css);
@import url(./sidebar.css);
@import url(./videos-sections.css);
@import url(./photo-icon.css);
@import url(./profile-photo.css);
@import url(./upload-play-all.css);
@import url(./media-queries.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

    body {
        width: 100vw;
        height: 100vh;
        font-family: 'Roboto', sans-serif;
    }

   



  
  
  
  