@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Luxurious+Roman&family=Roboto:wght@100;300&display=swap");
@import url(./var.css);
@import url(./header.css);
@import url(./form.css);
@import url(./menu.css);
@import url(./sidebar.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

    /* display: grid */

body {
    font-family: 'Roboto', sans-serif;
}
div{
    border: 2px black solid;
}

