

.upload-play-all { grid-area: uplaoud-play-all;
height: 7vh;
}




.upload-play-all-2 { grid-area: upload-play-all-2; }


.upload-play-all,
.upload-play-all-2
{ background-color: var(--them-videos-bg-color);}


