/* videos-sections  */

.videos-sections-1 { grid-area: videos-sections-1; }




.videos-sections-2 { grid-area: videos-sections-2; }

.videos-sections-1 ,
.videos-sections-2  
{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: flex-end;
    justify-content: center;
    height: 250px;
    border: 1px;
}

.video-small-box {
    display: flex;
    flex-direction: column;
    margin: 5px;

}


.photo-video {
    height: 150px;
    width: 270px;
}
h2 {
    color: var(--grey-text-color);
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}


.videos-sections-1,
.videos-sections-2
{ background-color: var(--them-videos-bg-color);}